start_httpd.sh
sort_json.sh
lightttpd.conf
parts.json.bak
nmm/
faviconpics/
api/nmm-api/
batch.json
new_parts.txt
RobotoCondensed-Medium.ttf
.vscode/launch.json
.vscode/settings.json
__pycache__/
__pycache__/
# Ignore exported sets
neomoji-set-creator/*/