body {
	font-size: 1em;
}

.container {
	 position: relative;
	 width: 256px;
	 height: 256px;
}

img.body {
	position: absolute;
}

img.eyes {
	position: absolute;
}

img.mouth {
	position: absolute;
}

img.arms {
	position: absolute;
}

canvas {
	height: 300px;
	width: 300px;
}

p#exportSaveMessage {
	font-size: 0.5em;
}

input#fullNeomojiName {
	width: 250px;
}

a.links {
	color: black;
}